<h1>Listing links</h1>


<% @links.each do |link| %>

  <%= div_for link do %>
    <h2><%=link_to link.title, link.url %></h2>

    <p>submitted by: <%= link.user.username %></p>
    <p><strong>Description:</strong> <%= link.description %></p>

    <div class="votes">
      <h2 class="score"> <%= link.score %> </h2>
      <% if current_user && !voted?(link) %>
      <%= render :partial => 'vote_buttons', :locals => { :link => link } %>
    <% end %>
    </div>


    
    <%= link_to 'Show', link %>
    <% if owner?(link.user) %>
    | <%= link_to 'Edit', edit_link_path(link) %> |
    <%= link_to 'Destroy', link, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    <hr />
  <% end %>

<% end %>


<% if user_signed_in? %>
  <br />
  <%= link_to content_tag(:span, 'New Link'), new_link_path, :class => "btn" %>
<% end %>