<h1>Listing links</h1>


<% @links.each do |link| %>

  <p>User id: <%= link.user_id %></p>
  <p>Title: <%= link.title %></p>
  <p>URL: <%= link.url %></p>
  <p>Description: <%= link.description %></p>
  <p><%= link_to 'Show', link %></p>
  <p><%= link_to 'Edit', edit_link_path(link) %></p>
  <p><%= link_to 'Destroy', link, :confirm => 'Are you sure?', :method => :delete %></p>
  <hr />

<% end %>


<br />

<%= link_to content_tag(:span, 'New Link'), new_link_path, :class => "btn" %>