<p>
  <b>Title:</b>
  <%= @link.title %>
</p>

<p>
  <b>Username:</b>
  <%= @link.user.username %>
</p>

<p>
  <b>URL:</b>
  <%=link_to @link.url, @link.url %>
</p>

<p>
  <b>Description:</b>
  <%= @link.description %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
