<!DOCTYPE html>
<html>
<head>
  <title>upvote</title>
  <%= stylesheet_link_tag :all %>
  <script type="text/javascript" src="http://www.websnapr.com/js/websnapr.js"></script>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="container">

  <div id="navbar">
    <h1><%=link_to 'upvote', root_path, :id => 'logo' %></h1>
    <div id="user_nav">
      <% if user_signed_in? %>
        Hello <strong><%= current_user.username %></strong>. |
        <%= link_to "Sign out", destroy_user_session_path %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or
        <%= link_to "Sign in", new_user_session_path %> to create your own posts.
      <% end %>
    </div>
  </div>

  <%= render 'layouts/conditional_flashes' %>

  <%= yield %>

</div> <!-- container -->

</body>
</html>
