!!!
%html
  %head
    %title upvote
    = stylesheet_link_tag :all
    %script{:src => "http://www.websnapr.com/js/websnapr.js", :type => "text/javascript"}
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #container
      #navbar
        %h1= link_to 'upvote', root_path, :id => 'logo'
        #user_nav
          - if user_signed_in?
            Hello
            = succeed "." do
              %strong= current_user.username
            |
            \#{link_to "Sign out", destroy_user_session_path}
          - else
            = link_to "Sign up", new_user_registration_path
            or
            \#{link_to "Sign in", new_user_session_path} to create your own posts.
      = render 'layouts/conditional_flashes'
      = yield
